.container {
    margin-top: 50px;



}

.skip {
    background-color: rgb(253, 149, 30);
}

.generate {
    background-color: rgb(30, 119, 253);
}

.leftside {
    background: black;
    margin-left: 0;
    height: 100vh;
    width: 50%;
}

.rightside {
    height: 100vh;
    width: 50%;
    margin-left: 50%;
}